################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SLP-Speech-To-Code/v15/Browse.VC.db
