################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SLP-Speech-To-Code/v15/Browse.VC.db
/UI/Project1/.vs/Speech To Code UI/v15/Browse.VC.db
/.vs
*.opendb
